            #page {
                position: absolute;
                width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0;
            }
            #head {    
                background-image: url('./icon/cuadro.png');
                background-size:1.5%;
                background-color: #1e5799;
                width: 100%; height: 40px;
            }
            #headTitle {
                width: 960px; height: 100%; margin: 0 auto; text-align: right; 
                font-size: 14px; color: #fff; font-family: Candara;
            }
            #inputBusqueda {
                float: right; padding: 10px; width: 300px; border: none; 
                font-family: Candara; font-size: 15px;
            }
            #inputBusqueda:focus{
	            outline:0px;
            }
            #salto {
                height: 10px;
            }
            #divSearch {
                width: 100%; height: 80px;
            }
            #divSarchContent {
                width: 960px; height: 100%; margin: 0 auto; text-align: right; 
                font-family: Candara; font-size: 14px; color: #fff;
            }
            #divInputSearch {
                width:400px; float: right; height: 60px; 
                box-shadow: 0px 0px 3px 0px #1e5799; border-radius: 0px 0px 10px 10px;
            }
            #lupa {
                float: right; padding: 4px; margin-right: 20px;
            }
            #clearBoth {
                clear: both;
            }
            #divLogo {
                width: 100%; height: 140px; 
            }
            #divLogoContent {
                width: 960px; height: 100%; margin: 0 auto; text-align: right; font-family: Candara; 
                font-size: 14px; color: #fff;
            }
            #divLogoContentLef {
                float: left; width: 480px; margin-top: 20px; cursor: pointer;
            }
            #divLogoContentRight {
                float: right; width: 420px;
            }
            
            #menuIndex {
                background: #7db9e8; /* Old browsers */
                background: -moz-linear-gradient(top,  #7db9e8 1%, #2989d8 50%, #1e5799 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#7db9e8), color-stop(50%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #7db9e8 1%,#2989d8 50%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #7db9e8 1%,#2989d8 50%,#1e5799 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #7db9e8 1%,#2989d8 50%,#1e5799 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #7db9e8 1%,#2989d8 50%,#1e5799 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
                width: 100%; height: 270px;
                margin-top: 5%;
            }
            #menuIndexContent {
                width: 960px; height: 100%; margin: 0 auto; text-align: left; 
                font-family: Candara; font-size: 14px; color: #fff;
            }
            #menuIndexTitle {
                height: 130px; margin: 10px;
            }
            #dataContent{
                margin: 0px; font-size: 20px;
            }
            #menuIndexLogo {
                height: 100px; margin: 10px;
            }
            #menuIndexContentLogo {
                width: 480px; background-color: #ff6a00; margin: 0 auto;
            }
            .contentLogo {
                width: 100px; height: 100px; background-color: #fff; 
                border-radius: 100px 100px 100px 100px; 
                opacity: 0.8; float: left; margin-right: 20px;
            	-webkit-transition: all 0.5s ease;
	            -moz-transition: all 0.5s ease;
	            -o-transition: all 0.5s ease;
                cursor: pointer;
            }
            .contentLogo:hover {
                opacity: 1;
                margin-top: -10px;
            }
            #logoSede {
                margin-top: 14px;
            }
            #logoFuncionarios {
                margin-top: 20px;
            }
            #logoComisiones {
                margin-top: 25px;
            }
            #logoEstadisticas{
                margin-top: 20px;
            }
            #foot {
                width: 100%; text-align: left; font-family: Candara; 
                font-size: 13px; color: #333; position: absolute; 
                bottom: 0px;              
            }
            #footContent {
                height: 35px; width: 960px; margin: 0 auto;
            }
            
            /* New Data */
            
            #masterFoot {
                height: 130px; width: 100%; position: absolute; bottom: 0;
            }
            #lineLeft {
                width: 35%; height: 10px; background-color: #1e5799; position: absolute; top: 0px;
            }
            #lineRight {
                width: 50%; height: 10px; background-color: #1e5799; position: absolute; bottom: 0px; right: 0px;
            }
            #masterContentePage {
                width: 960px; height: 130px; position: absolute; top: 0px; left: 50%; margin-left: -480px; cursor: pointer;
            }
            #PageLeft {
                width: 470px; height: 120px; float: left; border-right: 10px solid #1e5799;border-top: 10px solid #1e5799; border-radius: 0px 100px 0px 0px;
            }
            #masterLogo {
                margin-top: 10px; margin-right: 20px;
            }
            #pageRight {
                width: 480px; height: 100px; float: right;
            }
            #contentLogoMaster {
                width:  90px; height: 100px; float: left; font-family: Candara; font-size: 12px; margin-right: 15px; margin-left: 15px;
                border-radius: 10px 10px 10px 10px; box-shadow: 0px 0px 5px 0px #1e5799;
                -webkit-transition: all 0.5s ease;
	            -moz-transition: all 0.5s ease;
	            -o-transition: all 0.5s ease;
            }
            #contentLogoMaster:hover {
                margin-top: -10px;
                border-bottom: 5px solid #1e5799;
            }
            #imgDivision {
                margin-top: 14px;
            }
            #imgFuncionarios {
                margin-top: 20px; margin-bottom: 4px;
            }
            #imgComisiones {
                margin-top: 25px; margin-bottom: 4px
            }
            #imgEstadisticas {
                margin-top: 20px; margin-bottom: 4px;
            }
            #contentDataMaster {
                margin: 0 auto; width: 960px; background-color: #1e5799;/* position: absolute; 
                left: 50%; margin-left: -480px; top: 50%; margin-top:  -180px; */  height: 400px; 
                background-color: #fff;
                
                font-family: Candara;
            }

            .selectMenu {
                padding: 10px; margin: 10px; text-align: left; font-size: 18px; background-color: #ebebeb;  border-radius: 10px 10px 10px 10px;
                cursor: pointer;
	            -webkit-transition: all 0.5s ease;
	            -moz-transition: all 0.5s ease;
	            -o-transition: all 0.5s ease;
            }
            .selectMenu:hover {
                background-color: #cccccc;
            }